<!DOCTYPE html>
<html>
  <head>
    <title>RepayAway</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'bootstrap' %>
  </head>

  <body class='text-center'>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
